.advert__container {
    display: flex;
    background-color: #eeeeee;
    width: 100%;
    margin-top: 30px;
}

.advert__item {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
}
.advert__item:first-child {
    margin-top: 30px;
}

.advert__text {
    height: 40px;
    margin: 0;
    margin-left: 20px;
}
