.footer {
    background-color: #212122;
    width: 100%;
}

.footer__container {
    background-color: #212122;
    width: 100%;
    padding-bottom: 22px;
    padding-top: 30px;
}

.footer__socials {
    display: flex;
    gap: 15px;
    max-width: 190px;
}

.footer__apps {
    display: flex;
    gap: 8px;
}

.footer_line {
    margin: 0;
    margin-top: 30px;
}

.footer__copyright {
    margin: 0;
    margin-top: 15px;
    color: #999999;
}

.footer-tablet {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__logo {
    display: none;
}

@media @gt-tablet {
    .footer-tablet {
        display: flex;
    }
    .footer-mobile {
        display: none;
    }
}

@media @gt-desktop {
    .footer__logo {
        display: inline;
    }
}
